[Unit]
Description=Telegram Secret Phrase Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=ваш_пользователь
WorkingDirectory=/bots/TGmessage
ExecStart=/bin/bash /bots/TGmessage/run_bot.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=telegram-bot

[Install]
WantedBy=multi-user.target
